/* Add screen styles below */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--Seasalt, #F6F7F8);
    line-height: 1.6;
    font-family: "Inter", serif;
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #00E05A;
    overflow: auto;
}

nav a {
    float: left;
    padding: 12px;
    color: #011627;
    text-decoration: none;
    font-size: 17px;
    font-family: "Grandstander";
    width: 25%;
    text-align: center;
}

nav a:hover {
    background-color: #04c04f;
}

nav a.active {
    background-color: #8214b1;
    color: #F6F7F8;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    padding: 40px;
}

.main-content {
    text-align: center;
    padding: 70px 50px;
}

#logo-container {
    max-height: 460px;
    background-color: #8214b1;
    align-items: center;
    border-radius: 15px;
}

#logo {
    max-height: 410px;
    padding: 15px;
    max-width: auto;
    border-radius: 150px;
}

.main-content h1 {
    font-family: "Grandstander", cursive;
    font-size: 2rem;
    color: var(--Rich-Black, #011627);
}

.main-content p {
    margin: 20px 0;
    font-size: 1.1rem;
    color: var(--Rich-Black, #011627);
}

.sign-up {
    font-family: "grandstander";
    display: inline-block;
    background-color: #00E05A;
    color: #011627;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sign-up:hover {
    background-color: #5e00b3;
    color: var(--Seasalt, #F6F7F8);
}

h1 {
    font-family: "Grandstander";
    text-align: center;
    font-size: 3rem;
    padding: 0;
    margin-top: 2%;
}

.footer-bar {
    background-color: var(--Malachite, #00E05A);
    height: 2%;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1.5rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.review-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 60%;
    padding: 16px;
    margin: 0 auto;
}
  
.user-info h3 {
    color: #011627;
    font-family: "inter";
    margin: 0;
    font-size: 16px;
    display: flex;
    align-items: center;
}
  
.user-info .badge {
    background-color: #d9534f;
    color: white;
    border-radius: 4px;
    font-size: 12px;
    margin-left: 8px;
    padding: 2px 6px;
}
  
.user-info .date {
    font-family: "inter";
    margin: 4px 0 0;
    font-size: 12px;
    color: #888;
}

.review-text {
    font-family: "Inter";
    font-size: 14px;
    color: #011627;
    line-height: 1.6;
}

.contact-page {
    width: 100%;
    height: auto;
    overflow: auto;
}

.contact-page section {
    float: left;
    padding: 12px;
    color: #011627;
    font-size: 17px;
    text-align: center;
    width: 33.333%;
}

#icon {
    color: #8214b1;
    font-size: 5rem;
    padding: 5px;
}

#form-container {
    background-color: #00E05A;
    padding: 25px;
    width: 60%;
    border-radius: 25px;
    border: 2px solid #F6F7F8;
    text-align: center;
    margin: 0 auto;
    color: #011627;
}

#form_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    font-family: "Grandstander";
    margin: 8px;
    padding: 14px 40px;
    border-radius: 10px;
    border-color: #F6F7F8;
    color: #F6F7F8;
    background-color: #8214b1;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #580e78;
}


@media screen and (max-width: 890px) {
    main {
        flex-direction: column;
        padding: 20px;
    }

    #logo-container {
        margin-bottom: 20px;
    }

    .review-card {
        max-width: 90%;
    }

    #form-container {
        width: 90%;
        padding: 20px;
    }
}

@media screen and (max-width: 650px) {
    nav a {
        width: 100%;
        text-align: center;
    }
}
